.container {
  display: grid;
  grid-template-columns: 15% 85%;
  grid-template-rows: auto;
  grid-template-areas:
    "header main"
    "header footer";
}
@media screen and (max-width: $desktop-breakpoint) {
  .container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
