header {
  height: 100%;
  width: 15%;
  position: fixed;
  top: 0;
  overflow: hidden;

  grid-area: header;
  background-color: $bg-sidebar;
  align-items: center;
}
header h2 {
  color: $color-grey;
}
header h4 a {
  color: $color-grey;
}
header img {
  display: block;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
.hover:hover {
  color: $color-gold;
  cursor: pointer;
}
header nav {
  margin-top: $xxl-text;
}
header nav a {
  margin-top: $xl-text;
  margin-left: auto;
  margin-right: auto;
  width: 60%;

  display: flex;
  flex-direction: column;
  align-items: baseline;
  text-align: center;
  color: $color-grey;

  text-transform: uppercase;
  font-family: $font-title;
  text-align: center;
  font-size: $m-text;
  text-decoration: none;
}

header i {
  color: $color-grey;
}
.icondiv {
  display: flex;
  justify-content: center;
}
.icondiv i {
  padding: 0 $m-size 0 $m-size;
  font-size: $m-size;
  color: $color-gold;
}
a:hover {
  color: $color-gold;
}
.is-active {
  text-decoration: none;
}

@media only screen and (max-width: $desktop-breakpoint) {
  header {
    width: 100%;
    height: $header-margin;
    padding-bottom: $xxl-pad;
    left: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  header h2 {
    color: $color-gold;
    margin-bottom: 0;
    font-size: $m-mtext;
  }
  header h3 {
    margin-top: 0;
    font-size: $s-mtext;
  }
  header nav {
    display: none;
  }
  header .icondiv i {
    font-size: $xxl-mtext;
  }
}
