.projects {
  display: grid;
  grid-template-columns: 5% 42.5% 5% 42.5% 5%;
  grid-template-areas: "start col1 mid col2 end";
  justify-items: center;
  margin-top: $img-size;
  margin-bottom: $xl-size;
}
.col1 {
  grid-area: col1;
}
.mid {
  grid-area: mid;
  //   border-left: 6px solid $txt-title;
  //   height: 100%;
  //   left: 50%;
  //   margin-left: -3px;
  height: 100%;
  display: grid;
  grid-template-columns: 4fr 1fr 4fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: "midtext midtext midtext" ". midline .";
}
.midtext {
  grid-area: midtext;
  text-align: center;
}
.midtext h4 {
  font-size: $m-text;
}
.midline {
  grid-area: midline;
  background-color: $txt-title;
  border-radius: 5px;
}
.col2 {
  grid-area: col2;
}
@media screen and (max-width: $desktop-breakpoint) {
  .projects {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: $s-pad;
  }
  .col1 {
  }
  .mid {
    display: none;
  }
  .col2 {
  }
}
