.post {
  background-color: $bg-post;
  width: $post-size;
  padding-top: $m-size;
  padding-bottom: $m-size;
}
.post h1 {
  font-size: 100%;
  color: $txt-plain;
  margin-bottom: $m-size;
}
.post img {
  width: 80%;
  height: $img-size;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: $m-size;
  border-radius: 0;
}
