.post {
  background-color: $bg-post;
  width: $post-size;
  padding-top: $m-size;
  padding-bottom: $m-size;
}

.post img {
  width: 80%;
  height: $img-size;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: $m-size;
  border-radius: 0;
}
@media screen and (max-width: $desktop-breakpoint) {
  .post {
    width: 80vw;
    margin-bottom: $xxs-margin;
  }
  .post img {
    margin-bottom: $m-pad;
    height: $post-mimg;
  }
  .post i {
    font-size: $l-mtext;
  }
}
