.projects {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  margin-top: $l-size;
  margin-bottom: $xl-size;
}
.col1 {
  grid-area: col1;
  display: flex;
  flex-direction: column;
}
.rcol1 {
  grid-area: rcol1;
}
.mid {
  grid-area: mid;
  //   border-left: 6px solid $color-gold;
  //   height: 100%;
  //   left: 50%;
  //   margin-left: -3px;
  height: 100%;
  display: grid;
  grid-template-columns: 4fr 1fr 4fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: "midtext midtext midtext" ". midline .";
}
.midtext {
  grid-area: midtext;
  text-align: center;
}
.midtext h4 {
  font-size: $m-text;
}
.midline {
  grid-area: midline;
  background-color: $color-gold;
  border-radius: 5px;
}
.col2 {
  grid-area: col2;
}
@media screen and (max-width: $desktop-breakpoint) {
  .projects {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: $s-pad;
  }
  .col1 {
  }
  .mid {
    display: none;
  }
  .col2 {
  }
}
