html {
}

body {
  background-color: $bg-main;
  color: $txt-plain;
  font-family: $font-main;
}

button {
}

.is-active {
}

h1 {
  text-transform: uppercase;
  font-family: $font-title;
  letter-spacing: $s-text;
  text-align: center;
  font-size: $xl-text;
  color: $txt-title;
  font-weight: bold;
}

h2 {
  text-transform: uppercase;
  font-family: $font-title;
  text-align: center;
  font-size: $l-text;
  letter-spacing: $xs-text;
}
h3 {
  text-align: center;
  font-family: $font-title;
  font-size: $m-text;
  color: $txt-subtitle;
}
h4 {
  text-align: center;
  font-family: $font-title;
  font-size: $s-text;
  color: $txt-subtitle;
}
img {
  border-radius: $m-text;
}
