// Spacing
$xxs-size: 0.7rem;
$xs-size: 1rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$xxl-size: 7.8rem;
$desktop-breakpoint: 812px;

//padding & margin sizes
$xs-pad: 0.3vw;
$s-pad: 0.6vw;
$m-pad: 1vw;
$l-pad: 1.5vw;
$xl-pad: 3vw;
$xxl-pad: 4vw;
$xxxl-pad: 7vw;

// Text sizes
$xxs-text: 0.05vw;
$xs-text: 0.3vw;
$s-text: 0.6vw;
$m-text: 1vw;
$l-text: 1.5vw;
$xl-text: 3vw;
$xxl-text: 4vw;

// image sizes
$post-img: 25vw;
$post-imgh: 15vw;
$about-img: 15vw;

$post-size: 30rem;
$img-size: 15rem;

// Colours

// BG Colours
$bg-main: #242424;
$bg-post: #2b2b2b;
$bg-sidebar: #151515;
$bg-about: #1d1d1d;

// Text Colours
$txt-title: #c59a5b;
$txt-subtitle: #7a7a7a;
$txt-plain: #ffffff;

// Fonts

// Montserrat
$font-main: "Montserrat ultralight", sans-serif;
$font-title: "Montserrat", sans-serif;
