// Spacing
$xxs-size: 0.7rem;
$xs-size: 1rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$xxl-size: 7.8rem;
$desktop-breakpoint: 45rem;

// Colours

// BG Colours
$bg-main: #242424;
$bg-post: #2b2b2b;
$bg-sidebar: #151515;
$bg-about: #1d1d1d;

// Text Colours
$txt-title: #c59a5b;
$txt-subtitle: #7a7a7a;
$txt-plain: #ffffff;

// Fonts

// Montserrat
$font-main: "Montserrat ultralight", sans-serif;
$font-title: "Montserrat", sans-serif;
